<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Mocho Adventure</title>
</head>
<body>
    <div class="container">
        <div class="navbar-container">
            <nav>
                <a href="#">
                    <img src="../static/img/IMG-20250225-WA0039.jpg" alt="Mocho Adventure" class="logo">
                </a>
                <ul class="navbar-items">
                    <li>
                        <a href="#main-banner">início</a>
                    </li>
                    <li>
                        <a href="#quem-somos">Quem somos</a>
                    </li>
                    <li>
                        <a href="#destinos">destinos</a>
                    </li>
                    <li>
                        <a href="#footer-contato-faleconosco">fale conosco</a>
                    </li>
                </ul>
            </nav>
            
        </div>
        <main>
            <div id="main-banner">
                <h1>Mocho Adventure</h1>
                <p>Explore a natureza, viva a aventura!</p>
            </div>
            <section id="quem-somos">
                <h2 id="title">Quem somos</h2>
                <p id="p-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio odio perferendis asperiores 
                    similique doloribus. Eveniet similique soluta omnis 
                    sint provident? Dicta fugit esse natus commodi placeat amet earum perferendis ratione? Lorem
                     ipsum dolor sit amet consectetur adipisicing elit. Neque veniam nisi autem magni. Sunt aspernatur explicabo veritatis voluptas impedit? Officiis
                     sit natus dolorum ipsum, alias adipisci voluptas voluptatibus facilis odit?</p>
            </section>
            <section id="destinos">
                <h2 id="destino-title">Destinos</h2>
                <div class="destinos-container">
                    <div>
                        <img src="../static/img/praia.jpg" alt="foto de praia">
                        <p>Praias</p>
                    </div>
                    <div>
                        <img src="../static/img/montanha.jpeg" alt="foto de montanha">
                        <p>Montanhas</p>
                    </div>
                    <div>
                        <img src="../static/img/trilha2.jpg" alt="foto de trilha">
                        <p>Trilhas</p>
                    </div>

                </div>
            </section>
        </main>
        <footer>
            <div id="footer-contato-faleconosco">
                <div class="contato">
                    <div>
                        <h3 id="contato">Contato Mocho Adventure</h3>
                            <p>Telefone:  {{telefone}}</p>
                            <p>Endereço: {{endereco}}</p>
                            <p>e-mail: testes.teste@gmailcom</p>
                            <p>CNPJ: 000.0928.0001-30</p>
                    </div>
                    <div id="icones">
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                        </a>
                        <a href="https://www.instagram.com" target="_blank">
                            <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
                        </a>
                    </div>
                </div>
                
                <div class="faleconosco">
                    <h3>Mande uma mensagem</h3>
                    <p id="parafaleconosco">Envie a sua mensagem, em até 6 horas nossa equipe entrará em contato</p>
                    <form method="post">
                        <input type="text" name="txtNome" id="name" placeholder="Seu nome">
                        <input type="email" name="txt@email" id="email" placeholder="Seu e-mail">
                        <textarea name="message" id="message" placeholder="Envie sua dúvida ou sugestão..."></textarea>
                        <input type="submit" value="enviar">
                    </form>
                    
                </div>
            </div>
        </footer>
    
    </div>
</body>
</html>